.form-bang{    
    width: 500px;    
}
.form-group{
    margin: 10px 0px;
    padding: 5px;
}
.form-input{
    background-color: whitesmoke;
    border: 1px;
    width: 340px;
    padding: 11px;
    
}
.input-HoTen{
    background-color: whitesmoke;
    width: 155px;
    border: 1px;
    padding: 11px;
}
.form-select{
    margin: 10px 0px;
    padding: 4px;
    width: 120px;
}
.form-button{
    font-weight: bold;
    background-color: green;
    border: none;
    border-radius: 6px;  
    color: white;
    padding: 0 32px;
    width: 130px;
    height: 50px;
    display: block
    
}
.form{

}
